body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

header {
  color:#e5e7eb;
  font-size: 18px;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 15%;
}

.logo {
  margin-right: auto;
  font-weight: 900;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

li {
  list-style: none;
  flex-wrap: nowrap;
  display: inline-block;
  padding: 0px 20px;
}

main {
  color:#e5e7eb;
  background-color: #1f2937;
  display: flex;
  align-items: center;
  padding: 75px 15%;
  gap: 20px;
}

.hero {
  font-size: 48px;
  font-weight: 800;
  margin: 10px 0px;
}

.subtext {
  font-size: 18px;
  margin: 10px 0px;
}

button {
  background-color:  #3882f6;
  color:#e5e7eb;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin: 10px 0px;
  font-weight: bold;
}

.left {
  flex: 1 1 0px;
}

.right {
  padding: 20px;
  flex: 1 1 0px;
}

.title {
  margin: 50px;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.text {
  color: #1f2937;
}

.title, .container {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
  margin: 60px;
}

.info {
  max-width: 200px;
}

img {
  width: 100%;
}

.box {
  border: 5px solid #3882f6;
  border-radius: 12px;
}